<div class="flex justify-between header-box align-center">
    <div class="my-name">Paddle Keeper</div>

    <!-- <div class="table-label">Tables 5/12</div> -->

    <div class="search-box">
        <div class="search-icon">
            <div class="circle"></div>
            <div class="line"></div>
        </div>
        <input class="input-search" type="text" placeholder="Search">
    </div>

    <div class="user-box flex">
        <div class="user-label">
            Rafael R.
        </div>
        <div class="user-avatar"></div>
        
    </div>
</div>
