<div class="keyboard-box">
    <div class="flex justify-center">
        <div class="flex-1 keypad" (click)="eventAction(7)">7</div>
        <div class="flex-1 keypad" (click)="eventAction(8)">8</div>
        <div class="flex-1 keypad" (click)="eventAction(9)">9</div>
    </div>
    <div class="flex justify-center">
        <div class="flex-1 keypad" (click)="eventAction(4)">4</div>
        <div class="flex-1 keypad" (click)="eventAction(5)">5</div>
        <div class="flex-1 keypad" (click)="eventAction(6)">6</div>
    </div>
    <div class="flex justify-center">
        <div class="flex-1 keypad" (click)="eventAction(1)">1</div>
        <div class="flex-1 keypad" (click)="eventAction(2)">2</div>
        <div class="flex-1 keypad" (click)="eventAction(3)">3</div>
    </div>
    <div class="flex justify-center">
        <div class="flex-1 keypad" (click)="eventAction(0)">0</div>
        <div class="flex-2 keypad keypad-clear" (click)="eventAction('clear')">Clear</div>
    </div>
</div>
