<div class="main-container flex-column">
  <app-header class="mr-16 mt-16 ml-16"></app-header>
  <div class="flex flex-1 overflow-hidden">
    <div class="flex-1 flex-column overflow-hidden w-180">

      <div class="super-box mt-16 ml-16 mb-16 flex-1 flex-1 flex-column overflow-hidden">
        <app-filtro-produtos class="flex-1 flex-column overflow-hidden"></app-filtro-produtos>
      </div>
      <div class="super-box ml-16 mb-16 p-12 flex">
        <div class="flex-1 super-btn mr-4">
          <i class="fa fa-bar-chart"></i>
        </div>
        <div class="flex-1 super-btn ml-4">
          <i class="fa fa-dollar"></i>
        </div>
      </div>
    </div>
    <app-list-items class="flex-column flex-3 m-16"></app-list-items>
    <div class="flex-column flex-1">
      <app-payments class="flex-column flex-1  mr-16 mt-16 mb-16 overflow-hidden h-100-p"></app-payments>
      <app-credit-card class="mb-16 mr-16"></app-credit-card>
    </div>    
  </div>
</div>   